*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    padding: 0.6rem;
    text-align: center;
    background: gold;

}



.main
{
    width:50%;
    height: 70vh;
    margin: 10vh auto;
    border:2px solid black;
    box-shadow: 10px 10px 3px gold;
    border-radius: 5px;
    position:relative;
}
.srch{
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}

input{
    display:block;
    width:50%;
    margin: auto;
    height:30%;
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}
button{
    display: block;
    width:50%;
    margin: auto;
    height:30%;
    background-color: gold;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1rem;
 
}
button:hover
{
    background-color: black;
    color: white;
}
.pic
{
    position: absolute;
    bottom: 5%;
    left:30%;
    width:50%;
    height:50%;
    margin:auto;
    background-image: url("kindpng_1128382.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 890px) {
    .main
    {
        width:80%;
    }
}
@media only screen and (max-width: 570px) {
   input{
    margin-top: 10%;
    width:90%;
   }
   button{
    width:90%;
   }
   .main{
    width:80%;
   
    border-top-right-radius: 5%;

    
   }
   
 
}
